[Unit]
Description=Install APKs into Waydroid after Android session is ready
After=waydroid-session.target NetworkManager-wait-online.service
Requires=waydroid-session.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/waydroid-apk-install.sh
RemainAfterExit=yes

PrivateTmp=no
PrivateDevices=no
ProtectSystem=off
ProtectHome=read-only
BindPaths=/run/waydroid
BindPaths=/dev/binderfs

[Install]
WantedBy=multi-user.target
