[Unit]
Description=Initialize Waydroid and install default APKs
After=network-online.target
Before=waydroid-container.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/waydroid-auto-init.sh

[Install]
WantedBy=multi-user.target